 <nav>
     <li>CHATBOT</li>
</nav>
<div class="smallcontainer">
 <input type="checkbox"  id="show">
  <label for="show" class="show-btn ">TELL ME</label>
   <div class="container">

    <div class="details"><h1>DETAILS</h1></div>
     <label for="show" class="close-btn ">-</label> 
      <%= form_for @student do |f| -%>
       <form action=""> 
        <div class="data">
         <label> Name </label>
          <%= f.text_field :name ,required: true %> 
        </div>    
           
         <div class="data">
          <label> Phone_number </label>
           <%= f.text_field :phone_number, required: true %>
         </div>

         <div class="data">
          <label> Age </label>
           <%= f.text_field :age, required: true %>
         </div>

        
         <b>Gender</b><br />
          <%= f.radio_button :Gender, 'Male' , required:true %> Male
          <%= f.radio_button :Gender, 'Female' , required:true %> Female
          <%= f.radio_button :Gender, 'Others'  , required:true%> Others , 
          <br />
          <br />
           

          <b>Date</b>
           <%= f.date_field :date  , required:true , min: Date.today %>     

           
          <b>  Time</b>
           <%= f.time_field :Time , required:true%>
         

          <div class="btn">
           <%= f.submit "SUBMIT" %>
          </div>
      <% end %>
       </form>

   </div>
</div>
       <script>
        function welcome(){
        alert(" DATA SUCCESSFULLY STORED")
        }
       </script>

